<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Demo Save</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="css/style.css">
        
      </head>
  <body>
    <section class="banner slideInUp wow">
      <div class="container">
        <div class="banner-inner">
          <div class="row">
            <div class="col-6">
              <div class="join-banner">
                <p><span class="heavy">Enter your mail.</span> </p>
                  <div class="join-newsletter">
                      <input type="email" required name="email" id="email1" class="input-style" placeholder="Email">
                      <button type="submit" class="orange-btn">Save</button> <br />
                      <span style="color:green;" class="joined-success"></span>
                      <span style="color:red;" class="joined-error"></span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
        $("button").click(function(){
            var email1 = $("#email1").val();
            if(email1 ) {
                var data = {
                  email: email1
                }
                $.ajax({
                    type: "POST",
                    url: "joinus",
                    data: data,
                    success: function(res){
                        if(res.message ) {
                            $("#email1").val('');
                            $(".joined-error").html('');
                            $(".joined-success").html('Email saved successfully');
                        } else {
                          $(".joined-success").html('');
                          $(".joined-error").html('Something went wrong.');
                        }
                    }
                });
            } else {
              $(".joined-error").html('Please enter your email..');
            }
        });
      </script>
    </script>
  </body>
</html>
