@media only screen and (max-width: 1199px) {
    .container{
        width: 950px;
    }
    .banner-text h2{
        font-size: 72px;
    }
    .banner-inner{
        padding: 100px 0;
    }
    .top-0{
        padding-top: 0;
        padding-bottom: 0;
    }
    .cf-background .md-content{
        margin-left: 50px;
        width: 500px;
    }
    .md-content h3{
        font-size: 48px;
        line-height: 60px;
    }
    .logo-outer img{
        width: 200px;
    }
    .logo-outer span {
        font-size: 16px;
    }
    .lt-top , .lt-bottom ,.rt-bottom , .rt-top, .rt-center{
        top: 112px;
        left: 60px;
    }
   
    .col-3{
        width: 33.33%;
    }
    .row{
        justify-content: center;
        align-items: top;
    }
    .mc-bottom .row .col-3{
        width: 50%;
    }
    .team-outer .row .col-3{
        width: 33.33%;
    }
    @keyframes rot {
        from {
            transform: rotate(0deg)
                       translate(-200px)
                       rotate(0deg);
                       visibility: hidden;
                       
        }
        to {
            transform: rotate(360deg)
                       translate(-200px) 
                       rotate(-360deg);
                       visibility: visible;
                      
        }
    }
    
}


@media only screen and (max-width: 992px) {
    .container{
        width:750px;
        padding: 0 15px;
    }   
    .vertical-heading{
        left: 30px;
    }
    .mobile img{
        width: 300px;
    }
    .cf-background .md-content{
        margin-right: 80px;

    }
   
    .banner-text h2{
        font-size: 58px;
    }
    .banner-text p{
        padding-right: 0;
    }
    .col-6{
        width: 100%;
    }
    .banner-text,.join-banner{
        text-align: center;
    }
    .md-content{
        width: 80%;
    }
    .orange-section{
        padding-bottom: 50px;
    }
    .top-0{
        padding-top: 50px;
    }
    .mobile{
        margin-top: 30px;

    }
    .cf-background{
        background: none;
    }
    .cf-background .md-content{
        margin-left: auto;
    }
    .mobile-outer .col-6{
        width: 50%;
    }
    .mobile-outer .banner-text{
        text-align: left;
    }
    .underline{
        border-bottom: 2px solid #e94707;
    }
    .underline:after{
        display: none;

    }
    .cb-background{
        background: none;
    }
    .cb-background:after{
        display: none;
    }
    .logo-outer img{
        width: 200px;
    }
    .lt-top , .lt-bottom ,.rt-bottom , .rt-top, .rt-center{
        top: 112px;
        left: 60px;
    }
    .team-outer .row{
        align-items: start;
    }
    .team-box img{
        width: 200px;
    }
    .team-des h5{
        font-size: 18px;
    }
    .md-content h3{
        margin: 20px 0;
    }
    .join-banner{
        margin-top: 30px;
    }
    .logo-left img{
        width: 80px;
    }
}

@media only screen and (max-width: 750px) {
    .container{
        width: 100%;
    }
    .logo img{
        width: 100px;
    }
    .banner-text h2{
        font-size: 42px;
    }
    .banner-text h5{
        font-size: 18px;
    }
    .banner-text p{
        font-size: 18px;
    }
    .join-banner p{
        font-size: 18px;
    }
    .orange-btn{
        width: 100px;
    }
    .menu-box ul li a{
        font-size: 20px;
    }
    .cross{
        right: 30px;
    }
    .vertical-heading{
        font-size: 18px;
    }
    .md-content h3{
        font-size: 40px;
        line-height: 50px;
    }
    .md-content h5{
        font-size: 18px;
    }
    .md-content{
        width: 75%;
    }
    .cf-background .md-content{
        width: 75%;
        margin: auto;
    }
    .logo-outer img{
        width: 200px;
    }

    .team-outer .row .col-3{
        width: 50%;
    }
}

@media only screen and (max-width: 580px) {
    .logo img{
        width: 70px;
    }
    .orange-btn{
        width: 80px;
        height: 30px;
        line-height: 31px;
        font-size: 11px;
    }
    .header_inner{
        padding-top: 20px;
    }
    .logo{
        top: 40px;
    }
    .banner-inner{
        padding: 50px 0;
    }
    .input-style{
        width: 170px;
        height: 30px;
        font-size: 14px;
    }
    .vertical-heading{
        transform: rotate(0);
    }
    .md-content{
        width: 100%;
    }
    .md-content{
        padding: 30px 0;
    }
    p{
        font-size: 16px;
    }
    .vertical-heading{
        position: static;
    }
    .mc-bottom .row .col-3{
        width: 100%;
    }
    .mobile-outer .col-6{
        width: 100%;
    }
    .cf-background .md-content{
        width: 100%;
    }
    .logo-outer img{
        width: 100px;
    }
    .lt-top , .lt-bottom ,.rt-bottom , .rt-top, .rt-center{
        top: 44px;
        left: 11px;
        font-size: 12px !important;
    }
    
    
    @keyframes rot {
        from {
            transform: rotate(0deg)
                       translate(-100px)
                       rotate(0deg);
                       visibility: hidden;
                       
        }
        to {
            transform: rotate(360deg)
                       translate(-100px) 
                       rotate(-360deg);
                       visibility: visible;
                      
        }
    }

    .light-btn{
        width: 100%;
        font-size: 11px;
        padding: 0 9px;
    }
    .banner-text h3{
        font-size: 40px;
        line-height: 50px;
    }
    .row{
        width: auto;
    }
    .table-list .list-table{
        min-width: 600px;
    }
    .table-list{
        overflow-x: auto;
    }
    .top-space-ad .input-style{
        width: 130px;
        font-size: 12px;
    }
}